body{
	font-family:Georgia, serif;
	background-color: cornsilk;
	color: #345C7D;
}

h1{
    text-indent: 20px;
    letter-spacing: 4px;
    word-spacing: 0px;
    padding: 20px 0px 0px 0px;	
}

#titleHeader{
	font-family: fantasy;
}

h2{
	font-family: 'Times New Roman', serif;
}

header{
	height: 40px;
	margin: 0 auto;
	background-color: #a39bc4;
}

header.homeHeader{
    height: 350px;
    background-image: url(images/homeBackground.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
nav{
	font-family: fantasy;
}

ul.navList li:first-of-type{
	margin: 0;
	float: left;
	font-size: 16pt;
	padding-left: 0px;
	padding-top: 7px;
}
ul.navList{
	padding-left: 6px;
}
ul li{
	float: right;
	display: inline;
	padding: 10px;
	
}
a{
	text-decoration: none;
}
a:visited{
	color: #6F5B7E;
}
section{
	padding: 5px;
}

#leftSide, #rightSide{
	display: inline-block;
	vertical-align: middle;
}

#leftSide{
	margin-left: 200px;
}

.scienceImg{
	background-color: grey;
    width: 400px;
    height: 200px;
    display: block;
    margin: 40px;
}

#leftThird, #middleThird, #rightThird {
	display: inline-block;
}

.thirdsImg{
	margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 125px;
}

.thirdsImg2{
    margin-left: 17px;
    margin-right: 75px;
    margin-bottom: 125px;
}
dd{
	margin-bottom:15px;
}



